@model GreatestFilms.Models.Film

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<h3>Film</h3>
<hr />
<div class="row">
<div class="col-md-4">
    
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DirectorName" class="control-label"></label>
            <input asp-for="DirectorName" class="form-control" />
            <span asp-validation-for="DirectorName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Genre" class="control-label"></label>
            <input asp-for="Genre" class="form-control" />
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
            </textarea>
        </div>

        <div class="form-group">
            <label asp-for="Poster" class="control-label"></label>
            <input asp-for="Poster" class="form-control"/> 
            <span asp-validation-for="Poster" class="text-danger"></span>      
        </div>
        <hr/>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
