@model IEnumerable<GreatestFilms.Models.Film>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model){
    <div class="film">
        <p><img src="@Url.Content(item.Poster)"/></p>
    </div>
}
